.Board {
  width: 300px;
  aspect-ratio: 25 / 26;
  margin: 3px;
  overflow: visible;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.Label {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;
  font-weight: bold;
}

.Hex0 {
  grid-column: 2;
  grid-row: 3 / 5;
}

.Hex1 {
  grid-column: 2;
  grid-row: 1 / 3;
}

.Hex2 {
  grid-column: 3;
  grid-row: 2 / 4;
}

.Hex3 {
  grid-column: 3;
  grid-row: 4 / 6;
}

.Hex4 {
  grid-column: 2;
  grid-row: 5 / 7;
}

.Hex5 {
  grid-column: 1;
  grid-row: 4 / 6;
}

.Hex6 {
  grid-column: 1;
  grid-row: 2 / 4;
}

.Background {
  grid-column:  1 / -1;
  grid-row: 1 / -1;
}

.Background svg {
  overflow: visible;
}
